<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBXgpAfe5lks0mg7kXmwEjMnRpUwdE0EJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>1065774164069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.estiloSalon</string>
	<key>PROJECT_ID</key>
	<string>estilo-salon</string>
	<key>STORAGE_BUCKET</key>
	<string>estilo-salon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065774164069:ios:bddd4d8661bbad69ba7e8c</string>
</dict>
</plist>